name: CI-CD-React
on:
  push:
    branches:
      ["main"]
permissions:
  contents: write
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install Node
        uses: actions/setup-node@v4
        with:
         node-version: "20"
         cache: 'npm'
      - name: Install Dependencies
        run: npm install
      - name: Build Module
        run: npm run build
      - name: Upload artifactory
        uses: actions/upload-artifact@v4
        with:
           name: production-build
           path: ./dist
      - name: Deploy artifactory
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          path: ./dist
